pkgbase = city-defaults
	pkgdesc = City-busz's default configuration
	pkgver = 1
	pkgrel = 12
	url = http://pkgbuild.com/~bgyorgy/city.html
	install = city-defaults.install
	arch = any
	license = GPL
	source = city.gschema.override
	source = defaults.list
	source = gnome-screensaver.desktop
	source = nautilus-cinnamon.desktop
	source = nautilus-mate.desktop
	source = notification-daemon-mate.desktop
	source = metacity-theme-2.xml
	source = Trolltech.conf
	source = 10-disable-system-update.rules
	md5sums = d4b885e6187147b49b78bf5f04d0351e
	md5sums = 466b3f2217a2f2c2b3782486728f7bc2
	md5sums = 546c3cf9de18a3ccf945f6945d8729c6
	md5sums = 6a4d42434ef721e8d0359219428ad6a4
	md5sums = 9ccbe1cdcc2fe0c3a8532a97f76b2355
	md5sums = b524ec74dc85c984266dbee1c7c61062
	md5sums = 53abb9eeb3cae8f9058840079d3e144d
	md5sums = 25bbb16d327336515d3a3cdaeb7033db
	md5sums = 085499eb782c83726a621c1ffd6e11c7

pkgname = city-defaults

