[Desktop Entry]
Type=Application
Name=Desktop Icons
Comment=Classic session desktop file for desktop icons
Exec=nautilus --no-default-window
OnlyShowIn=MATE;
NoDisplay=true
