[Desktop Entry]
Type=Application
Name=Desktop Icons
Comment=Classic session desktop file for desktop icons
Exec=nautilus --no-default-window --force-desktop
OnlyShowIn=Budgie;MATE;X-Cinnamon;
NoDisplay=true
