[Desktop Entry]
Type=Application
Name=Desktop Icons
Exec=nemo-desktop
OnlyShowIn=GNOME;MATE;
NoDisplay=true
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-Provides=filemanager
