pkgbase = sugar-activity-browse
	pkgdesc = Sugar activity to browse the internet
	pkgver = 200
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Browse
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = evince
	depends = gconf
	depends = sugar-datastore
	depends = webkit2gtk
	source = https://download.sugarlabs.org/sources/sucrose/fructose/Browse/Browse-200.tar.bz2
	sha256sums = 60c4d53a855f069279a38938f8b63a4c25108373cf97faf2c7e7e69017c46c73

pkgname = sugar-activity-browse

