pkgbase = sugar-datastore
	pkgdesc = Sugar datastore service
	pkgver = 0.110.0
	pkgrel = 1
	url = https://sugarlabs.org/
	arch = i686
	arch = x86_64
	license = GPL
	depends = python2-dbus
	depends = python2-gobject
	depends = python2-xapian
	source = https://download.sugarlabs.org/sources/sucrose/glucose/sugar-datastore/sugar-datastore-0.110.0.tar.xz
	sha256sums = b3d8527a196c48688eb2395f13338c2c84b104e44db7e7520597f67135af0458

pkgname = sugar-datastore

