pkgbase = sugar-activity-read
	pkgdesc = Sugar activity to read books
	pkgver = 117
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Read
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = evince
	depends = python2-beautifulsoup3
	depends = sugar-toolkit-gtk3
	source = https://download.sugarlabs.org/sources/sucrose/fructose/Read/Read-117.tar.bz2
	sha256sums = 8cd39b4060b7a36a9029eec1b771ce4831d94ffffdeb3074be3d2b7965f293da

pkgname = sugar-activity-read

