pkgbase = sugar-activity-clock
	pkgdesc = Clock for Sugar
	pkgver = 18
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Clock
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = sugar-toolkit-gtk3
	source = https://download.sugarlabs.org/sources/honey/Clock/Clock-18.tar.bz2
	sha256sums = 441e88fc6b19e6d29fe58872de4be69b67d327ff1f98839c809aeafa582d7c5f

pkgname = sugar-activity-clock

