pkgbase = abiword-small
	pkgdesc = Fully-featured word processor
	pkgver = 3.0.2
	pkgrel = 6
	url = http://www.abisource.com
	arch = i686
	arch = x86_64
	license = GPL
	options = !strip
	source_i686 = https://mirror.archlinux32.org/i686/extra/abiword-3.0.2-6.0-i686.pkg.tar.xz
	sha256sums_i686 = 3a1ac0a04540f8815766202c84f09bc4890e9faff411a864f2e2b804d60499d7
	source_x86_64 = https://archive.archlinux.org/packages/a/abiword/abiword-3.0.2-6-x86_64.pkg.tar.xz
	sha256sums_x86_64 = b07356f56c572f0b939be9f310c552a90ca5721f066dcd0756f73d6ea31f90f3

pkgname = abiword-small
	depends = enchant
	depends = fribidi
	depends = goffice
	depends = libical
	depends = libjpeg-turbo
	depends = redland
	depends = wv
	optdepends = aiksaurus: Aiksaurus plugin
	optdepends = dbus-glib: Collaboration plugin
	optdepends = gtkmathview: AbiMathView plugin
	optdepends = libots: OTS plugin
	optdepends = libsoup: Collaboration plugin
	optdepends = libwmf: WMF Import plugin"
	optdepends = libwpg: WordPerfect(tm) Graphics Importer plugin
	optdepends = libwps: WordPerfect(tm) and Microsoft Works Importer plugin
	optdepends = link-grammar: AbiGrammar plugin
	optdepends = loudmouth: Collaboration plugin
	optdepends = psiconv: Psion Import/Export plugin
	provides = abiword=3.0.2
	conflicts = abiword

