pkgbase = abiword-small
	pkgdesc = Fully-featured word processor
	pkgver = 3.0.2
	pkgrel = 5
	url = http://www.abisource.com
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = aiksaurus
	makedepends = asio
	makedepends = boost
	makedepends = dbus-glib
	makedepends = gobject-introspection
	makedepends = gtkmathview
	makedepends = libots
	makedepends = libsoup
	makedepends = libwmf
	makedepends = libwpg
	makedepends = libwps
	makedepends = link-grammar
	makedepends = loudmouth
	makedepends = psiconv
	makedepends = python2-gobject
	makedepends = python-gobject
	depends = enchant
	depends = fribidi
	depends = goffice
	depends = libical
	depends = libjpeg-turbo
	depends = redland
	depends = wv
	optdepends = aiksaurus: Aiksaurus plugin
	optdepends = dbus-glib: Collaboration plugin
	optdepends = gtkmathview: AbiMathView plugin
	optdepends = libots: OTS plugin
	optdepends = libsoup: Collaboration plugin
	optdepends = libwmf: WMF Import plugin"
	optdepends = libwpg: WordPerfect(tm) Graphics Importer plugin
	optdepends = libwps: WordPerfect(tm) and Microsoft Works Importer plugin
	optdepends = link-grammar: AbiGrammar plugin
	optdepends = loudmouth: Collaboration plugin
	optdepends = psiconv: Psion Import/Export plugin
	provides = abiword=3.0.2
	conflicts = abiword
	options = !strip
	source_i686 = https://archive.archlinux.org/packages/a/abiword/abiword-3.0.2-5-i686.pkg.tar.xz
	sha256sums_i686 = bf578b4727d9097134b076d1014ffe7b14ede825b3fffa74148d4e8909085be2
	source_x86_64 = https://archive.archlinux.org/packages/a/abiword/abiword-3.0.2-5-x86_64.pkg.tar.xz
	sha256sums_x86_64 = 6a8ad35a6ae8924544662466f2fdcfc8a3ea9ee3cf9a9b68ea6fcc80a9a48609

pkgname = abiword-small

