pkgbase = abiword-small
	pkgdesc = Fully-featured word processor
	pkgver = 3.0.2
	pkgrel = 7
	url = http://www.abisource.com
	arch = i686
	arch = x86_64
	license = GPL
	options = !strip
	source_i686 = https://mirror.archlinux32.org/i686/extra/abiword-3.0.2-7.0-i686.pkg.tar.xz
	sha256sums_i686 = ac8e245d364deb04e08ebafd882ae271c1ccd6a30da52fb6c88354a04b865cac
	source_x86_64 = https://archive.archlinux.org/packages/a/abiword/abiword-3.0.2-7-x86_64.pkg.tar.xz
	sha256sums_x86_64 = 750b8fe080777eba653119324e06ecbc71b57e2ad0548d5a70b1e770610265cc

pkgname = abiword-small
	depends = enchant
	depends = fribidi
	depends = goffice
	depends = libical
	depends = libjpeg-turbo
	depends = redland
	depends = wv
	optdepends = aiksaurus: Aiksaurus plugin
	optdepends = dbus-glib: Collaboration plugin
	optdepends = gtkmathview: AbiMathView plugin
	optdepends = libots: OTS plugin
	optdepends = libsoup: Collaboration plugin
	optdepends = libwmf: WMF Import plugin"
	optdepends = libwpg: WordPerfect(tm) Graphics Importer plugin
	optdepends = libwps: WordPerfect(tm) and Microsoft Works Importer plugin
	optdepends = link-grammar: AbiGrammar plugin
	optdepends = loudmouth: Collaboration plugin
	optdepends = psiconv: Psion Import/Export plugin
	provides = abiword=3.0.2
	conflicts = abiword

