pkgbase = sugar-activity-jukebox
	pkgdesc = Media player for Sugar
	pkgver = 32
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Jukebox
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = sugar-toolkit-gtk3
	depends = gst-plugins-base
	optdepends = gst-plugins-good: Extra media codecs
	optdepends = gst-plugins-bad: Extra media codecs
	optdepends = gst-plugins-ugly: Extra media codecs
	optdepends = gst-libav: Extra media codecs
	source = https://download.sugarlabs.org/sources/sucrose/fructose/Jukebox/Jukebox-32.tar.bz2
	sha256sums = 6bb493b40195cbea20750bd391d1d88f3bdb3689bb0d0019b1c83406168004e3

pkgname = sugar-activity-jukebox

