pkgbase = sugar-activity-write
	pkgdesc = Sugar activity to edit texts
	pkgver = 97
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Write
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = abiword
	depends = gconf
	depends = sugar-toolkit-gtk3
	source = https://download.sugarlabs.org/sources/sucrose/fructose/Write/Write-97.tar.bz2
	sha256sums = 7b2ff1151edb99b7b45d4e2ae1a6eea2551254e96699a88f6fc2bebbd4774892

pkgname = sugar-activity-write

