pkgbase = gnome-flashback
	pkgdesc = GNOME Flashback session
	pkgver = 3.16.1
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GnomeFlashback
	install = gnome-flashback.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = autoconf-archive
	makedepends = intltool
	makedepends = python2
	depends = gnome-panel
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = metacity
	depends = polkit-gnome
	depends = gjs
	depends = gnome-bluetooth
	optdepends = gnome-background: default background
	optdepends = gnome-screensaver: lock srceen
	optdepends = gnome-screenshot: take screenshots
	optdepends = network-manager-applet: network management
	optdepends = notification-daemon: desktop notifications
	source = http://ftp.gnome.org/pub/GNOME/sources/gnome-flashback/3.16/gnome-flashback-3.16.1.tar.xz
	source = git-fixes.patch
	source = 0001-libscreenshot-Use-gnome-screenshot.patch
	source = 0001-Add-autostart-file-for-nm-applet.patch
	source = bluetooth.js
	source = power.js
	source = gnome-flashback-bluetooth-applet.desktop
	source = gnome-flashback-power-applet.desktop
	sha256sums = b5424a28b2de694ae9bd170b73dfc6da62358c0e3527631b92be9dc400b52f90
	sha256sums = 00fe405a2ea3a9fc50232361ea68ea95fdf6125d544482cae2dc2f80aad8e8a1
	sha256sums = d230935bc57facb25f161d317f72fc7896d49c0dcf5dbed39ef0f43e2b3ffb02
	sha256sums = a7911a273dd2ace9c2fe85fe03f8d7f9ae0e9f9658a9bdbbfa944aa4c3c40afb
	sha256sums = 0c8a72f8baf564ac64972ebc463ac5c536fbb6afe3ce6e6a20fbeb0b528c3cfb
	sha256sums = 5b79bedda8433b177ff07de70c054b2786efb685b9a9a4c6297abf5e52cbbd00
	sha256sums = 7e89018b3cb893c3048839432c92049145a17c40a57681e4b2d514b96fd4945f
	sha256sums = 11289a236a3fbe83248418908c4934ba708e1ed07d87d3264f638f56ab9f3c58

pkgname = gnome-flashback

