pkgbase = empathy-fixed
	pkgdesc = A GNOME instant messaging client using the Telepathy framework
	pkgver = 3.12.12+124+gd433f3c20
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Empathy
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = intltool
	makedepends = itstool
	makedepends = docbook-xsl
	makedepends = python
	makedepends = gnome-common
	makedepends = git
	depends = clutter-gst
	depends = clutter-gtk
	depends = folks
	depends = gcr
	depends = iso-codes
	depends = libcanberra
	depends = libpulse
	depends = webkit2gtk
	depends = telepathy-farstream
	depends = telepathy-glib
	depends = telepathy-logger
	depends = telepathy-mission-control
	depends = geoclue2
	depends = geocode-glib
	depends = cheese
	depends = libchamplain
	depends = libgudev
	optdepends = telepathy-gabble: XMPP/Jabber support
	optdepends = telepathy-idle: IRC support
	optdepends = telepathy-salut: Link-local XMPP support
	optdepends = telepathy-rakia: SIP support
	optdepends = telepathy-haze: libpurple support
	provides = empathy
	conflicts = empathy
	source = git+https://git.gnome.org/browse/empathy#commit=d433f3c20d2ca198a97f21596d8cc212bff8426c
	source = git+https://git.gnome.org/browse/telepathy-account-widgets
	source = 0001-Fix-crash-when-window-is-not-initialized.patch
	source = 0001-Don-t-allow-to-detach-chat-tab.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 3151c0260037e0bbc6d5667c0ff13f55e86ee8cf3c49f1f64e59e17e36875cf0
	sha256sums = d31438a7d762eb1231647b6fadcf4a5ec7e62d754b85cf6ae429e6685a290531

pkgname = empathy-fixed

