pkgbase = gnome-panel
	pkgdesc = Panel of GNOME Flashback
	pkgver = 3.16.1
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GnomePanel
	install = gnome-panel.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = intltool
	makedepends = itstool
	makedepends = gobject-introspection
	depends = gnome-desktop
	depends = gnome-menus
	depends = libwnck3
	depends = evolution-data-server
	depends = librsvg
	source = http://ftp.gnome.org/pub/GNOME/sources/gnome-panel/3.16/gnome-panel-3.16.1.tar.xz
	sha256sums = b51997a5db70773606cd72be735902923ae73bd3f2c762ade65695751d4bd162

pkgname = gnome-panel

