pkgbase = sugar-toolkit-gtk3
	pkgdesc = Sugar GTK library
	pkgver = 0.110.0
	pkgrel = 1
	url = https://sugarlabs.org/
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = intltool
	makedepends = gobject-introspection
	depends = alsa-lib
	depends = gtk3
	depends = libsm
	depends = python2-cairo
	depends = python2-dateutil
	depends = python2-dbus
	depends = python2-decorator
	depends = python2-gobject
	depends = python2-telepathy
	depends = sugar-artwork
	depends = telepathy-mission-control
	depends = unzip
	optdepends = webkit2gtk: run web activities
	source = https://download.sugarlabs.org/sources/sucrose/glucose/sugar-toolkit-gtk3/sugar-toolkit-gtk3-0.110.0.tar.xz
	sha256sums = e4b626c4efb515a444eb7bc2d5897aca1affd710f328de95b426f9f13032373e

pkgname = sugar-toolkit-gtk3

