pkgbase = sugar-activity-terminal
	pkgdesc = Terminal emulator for Sugar
	pkgver = 44
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Terminal
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = sugar-toolkit-gtk3
	depends = vte3
	source = https://download.sugarlabs.org/sources/sucrose/fructose/Terminal/Terminal-44.tar.bz2
	sha256sums = 3110d3ecbab12b661235916bce28b73c43ff2b728cd679f5213d8ee723af34e3

pkgname = sugar-activity-terminal

