pkgbase = sugar
	pkgdesc = Sugar GTK shell
	pkgver = 0.110.0
	pkgrel = 1
	url = https://sugarlabs.org/
	arch = any
	license = GPL
	makedepends = intltool
	depends = gconf
	depends = gnome-keyring
	depends = gst-plugins-espeak
	depends = gtksourceview3
	depends = gvfs
	depends = libwnck3
	depends = libxklavier
	depends = metacity
	depends = mobile-broadband-provider-info
	depends = openssh
	depends = python2-gwebsockets
	depends = sugar-datastore
	depends = telepathy-gabble
	depends = telepathy-mission-control
	depends = telepathy-salut
	depends = upower
	depends = webkit2gtk
	depends = xdg-user-dirs
	source = https://download.sugarlabs.org/sources/sucrose/glucose/sugar/sugar-0.110.0.tar.xz
	sha256sums = c5b662442a404f4dab7f67514aae5f887533262e4a98aa4b4c675e4f63b2203d

pkgname = sugar

