pkgbase = sugar-activity-chat
	pkgdesc = Sugar activity for text chatting
	pkgver = 83
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Chat
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = sugar-toolkit-gtk3
	source = sugar-activity-chat-83.tar.bz::https://github.com/sugarlabs/chat/archive/v83.tar.gz
	sha256sums = 0ceb3df549fa1257d52726a7fab7a2e3c514ce81e22d11d123b7bc13a4673a39

pkgname = sugar-activity-chat

