pkgbase = sugar-toolkit
	pkgdesc = GTK2 based toolkit for Sugar (deprecated)
	pkgver = 0.110.0
	pkgrel = 1
	url = https://sugarlabs.org/
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = intltool
	depends = hippo-canvas
	depends = python2-gconf
	depends = sugar-base
	depends = sugar-toolkit-gtk3
	source = https://download.sugarlabs.org/sources/sucrose/glucose/sugar-toolkit/sugar-toolkit-0.110.0.tar.bz2
	source = drop-rsvg-dependency.patch
	source = fix-presenceservice.patch
	sha256sums = 14e76fac034f8801c2d63c9b562e6559817a31aac72b1853370bf0bc66779f25
	sha256sums = 80f28c29f43c1cb2ccb7107e05d5ce60b5f2160298262afeba3f98172e2fdb1a
	sha256sums = 8da623f071be6f87b89dd6f1436c87ce2e8e5c63dd1c12c3db7081b701b715a8

pkgname = sugar-toolkit

