pkgbase = sugar-activity-imageviewer
	pkgdesc = Image viewer for Sugar
	pkgver = 62
	pkgrel = 1
	url = https://wiki.sugarlabs.org/go/Activities/Image_Viewer
	arch = any
	groups = sugar-fructose
	license = GPL
	depends = sugar-toolkit-gtk3
	source = https://download.sugarlabs.org/sources/sucrose/fructose/ImageViewer/ImageViewer-62.tar.bz2
	sha256sums = cc226b4489d5b1355c1e95cdb558b57b7816f51a1ad2675e872b90cdbe69114f

pkgname = sugar-activity-imageviewer

