pkgbase = devtools-city
	pkgdesc = Tools for György Balló package maintainer
	pkgver = 1
	pkgrel = 7
	url = https://pkgbuild.com/~bgyorgy/city.html
	arch = any
	license = GPL
	depends = devtools
	optdepends = mono: for find-monodeps
	optdepends = python2-snakefood: for find-pythondeps
	source = find-monodeps.sh
	source = find-pythondeps.sh
	source = makepkg-i686.conf
	source = pacman-city.conf
	source = pacman-city32.conf
	source = citypkg.sh
	source = aurco.sh
	md5sums = dba48cb20004259876d680a8ebaf6dc7
	md5sums = 34f935dc7c3577911970581e6d49a883
	md5sums = 718b850382937e92372995ecfbc688eb
	md5sums = b9de8d68a692612bb425283754b4f757
	md5sums = 8d14a24b047a7e6235db75cbd2334249
	md5sums = 494abac3ac1217f700cad45729353468
	md5sums = bccb46797dbc2c7a4994f0270330ee8d

pkgname = devtools-city

