pkgbase = devtools-city
	pkgdesc = Tools for György Balló package maintainer
	pkgver = 1
	pkgrel = 4
	url = http://pkgbuild.com/~bgyorgy/city.html
	arch = any
	license = GPL
	depends = devtools
	optdepends = mono: for find-monodeps
	optdepends = snakefood-hg: for find-pythondeps
	source = find-monodeps.sh
	source = find-pythondeps.sh
	source = pacman-city.conf
	source = pacman-ayatana.conf
	source = citypkg.sh
	source = aurco.sh
	md5sums = dba48cb20004259876d680a8ebaf6dc7
	md5sums = 34f935dc7c3577911970581e6d49a883
	md5sums = 189cf7eec19372a452789afadf6a33e0
	md5sums = 31a74880863ce044060859a1217c291b
	md5sums = 50d74bdb8f2a68c0f9a3aee87c18529e
	md5sums = bccb46797dbc2c7a4994f0270330ee8d

pkgname = devtools-city

