pkgbase = city-meta
	pkgdesc = Metapackages for Arch Linux
	pkgver = 1
	pkgrel = 18
	url = http://pkgbuild.com/~bgyorgy/city.html
	arch = any
	license = GPL

pkgname = base-meta
	pkgdesc = Base metapackage
	groups = city-meta
	depends = bash
	depends = bzip2
	depends = coreutils
	depends = cryptsetup
	depends = device-mapper
	depends = dhcpcd
	depends = diffutils
	depends = e2fsprogs
	depends = file
	depends = filesystem
	depends = findutils
	depends = gawk
	depends = gcc-libs
	depends = gettext
	depends = glibc
	depends = grep
	depends = gzip
	depends = inetutils
	depends = iproute2
	depends = iputils
	depends = jfsutils
	depends = less
	depends = licenses
	depends = linux
	depends = logrotate
	depends = lvm2
	depends = man-db
	depends = man-pages
	depends = mdadm
	depends = nano
	depends = netctl
	depends = pacman
	depends = pciutils
	depends = perl
	depends = procps-ng
	depends = psmisc
	depends = reiserfsprogs
	depends = s-nail
	depends = sed
	depends = shadow
	depends = sysfsutils
	depends = systemd-sysvcompat
	depends = tar
	depends = texinfo
	depends = usbutils
	depends = util-linux
	depends = vi
	depends = which
	depends = xfsprogs

pkgname = base-devel-meta
	pkgdesc = Base development metapackage
	groups = city-meta
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkgconf
	depends = sed
	depends = sudo
	depends = systemd
	depends = texinfo
	depends = util-linux
	depends = which

pkgname = base-services-meta
	pkgdesc = Base services metapackage
	groups = city-meta
	depends = alsa-utils
	depends = avahi
	depends = bluez
	depends = cups
	depends = dosfstools
	depends = gdb
	depends = gpsd
	depends = grub
	depends = intel-ucode
	depends = lm_sensors
	depends = mesa-demos
	depends = modemmanager
	depends = networkmanager
	depends = nfs-utils
	depends = nss-mdns
	depends = ntfs-3g
	depends = openssh
	depends = os-prober
	depends = pkgstats
	depends = pulseaudio-alsa
	depends = smartmontools
	depends = sudo
	depends = tigervnc
	depends = usb_modeswitch
	depends = xorg-server

pkgname = base-data-meta
	pkgdesc = Base codecs and data metapackage
	groups = city-meta
	depends = aspell-en
	depends = aspell-hu
	depends = gst-libav
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = hunspell-en_US
	depends = hunspell-hu
	depends = hyphen-en
	depends = hyphen-hu
	depends = mythes-en
	depends = mythes-hu
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = purple-facebook
	depends = purple-skypeweb
	depends = soundfont-fluid
	depends = telepathy-gabble
	depends = telepathy-haze
	depends = telepathy-idle
	depends = telepathy-salut
	depends = ttf-dejavu
	depends = ttf-freefont
	depends = ttf-liberation

pkgname = gnome-core-shell-meta
	pkgdesc = GNOME core shell metapackage
	groups = city-meta
	depends = gdm
	depends = glib2-docs
	depends = gnome-backgrounds
	depends = gnome-color-manager
	depends = gnome-control-center
	depends = gnome-getting-started-docs
	depends = gnome-keyring
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gnome-shell
	depends = gnome-shell-extensions
	depends = gnome-themes-extra
	depends = gnome-user-docs
	depends = gnome-user-share
	depends = gvfs
	depends = gvfs-afc
	depends = gvfs-goa
	depends = gvfs-google
	depends = gvfs-gphoto2
	depends = gvfs-mtp
	depends = gvfs-nfs
	depends = gvfs-smb
	depends = mutter
	depends = nautilus
	depends = orca
	depends = rygel
	depends = tracker
	depends = tracker-miners
	depends = vino
	depends = xdg-user-dirs-gtk

pkgname = gnome-core-utilities-meta
	pkgdesc = GNOME core utilities metapackage
	groups = city-meta
	depends = baobab
	depends = cheese
	depends = eog
	depends = epiphany
	depends = evince
	depends = file-roller
	depends = gedit
	depends = gnome-boxes
	depends = gnome-calculator
	depends = gnome-calendar
	depends = gnome-characters
	depends = gnome-clocks
	depends = gnome-contacts
	depends = gnome-disk-utility
	depends = gnome-font-viewer
	depends = gnome-logs
	depends = gnome-maps
	depends = gnome-music
	depends = gnome-photos
	depends = gnome-screenshot
	depends = gnome-system-monitor
	depends = gnome-terminal
	depends = gnome-weather
	depends = grilo-plugins
	depends = simple-scan
	depends = sushi
	depends = totem
	depends = yelp

pkgname = gnome-apps-meta
	pkgdesc = GNOME applications metapackage
	groups = city-meta
	depends = accerciser
	depends = dconf-editor
	depends = devhelp
	depends = evolution
	depends = ghex
	depends = gitg
	depends = glade
	depends = gnome-builder
	depends = gnome-code-assistance
	depends = gnome-devel-docs
	depends = gnome-dictionary
	depends = gnome-documents
	depends = gnome-multi-writer
	depends = gnome-nettool
	depends = gnome-notes
	depends = gnome-recipes
	depends = gnome-sound-recorder
	depends = gnome-todo
	depends = gnome-tweaks
	depends = polari

pkgname = gnome-games-meta
	pkgdesc = GNOME games metapackage
	groups = city-meta
	depends = five-or-more
	depends = four-in-a-row
	depends = gnome-chess
	depends = gnome-games
	depends = gnome-klotski
	depends = gnome-mahjongg
	depends = gnome-mines
	depends = gnome-nibbles
	depends = gnome-robots
	depends = gnome-sudoku
	depends = gnome-taquin
	depends = gnome-tetravex
	depends = gnuchess
	depends = hitori
	depends = iagno
	depends = lightsoff
	depends = quadrapassel
	depends = swell-foop
	depends = tali

pkgname = gnome-flashback-meta
	pkgdesc = GNOME Flashback, Budgie and Cinnamon metapackage
	groups = city-meta
	depends = blueberry
	depends = budgie-desktop
	depends = cinnamon
	depends = cinnamon-translations
	depends = gnome-applets
	depends = gnome-flashback
	depends = gnome-panel
	depends = gnome-screensaver
	depends = lightdm-gtk-greeter
	depends = metacity
	depends = network-manager-applet
	depends = sensors-applet
	depends = system-config-printer

pkgname = gnome-world-meta
	pkgdesc = GNOME world metapackage
	groups = city-meta
	depends = aisleriot
	depends = alacarte
	depends = anjuta
	depends = anjuta-extras
	depends = atomix
	depends = deja-dup
	depends = d-feet
	depends = eog-plugins
	depends = filemanager-actions
	depends = gbrainy
	depends = gedit-plugins
	depends = giggle
	depends = gnome-2048
	depends = gnome-break-timer
	depends = gnome-power-manager
	depends = gnome-search-tool
	depends = gnome-system-log
	depends = gnome-usage
	depends = gupnp-tools
	depends = meld
	depends = moserial
	depends = mousetweaks
	depends = nautilus-image-converter
	depends = nautilus-sendto
	depends = nemiver
	depends = regexxer
	depends = seahorse
	depends = seahorse-nautilus

pkgname = mate-core-meta
	pkgdesc = MATE core metapackage
	groups = city-meta
	depends = caja
	depends = marco
	depends = mate-applets
	depends = mate-control-center
	depends = mate-desktop
	depends = mate-media
	depends = mate-netbook
	depends = mate-notification-daemon
	depends = mate-panel
	depends = mate-power-manager
	depends = mate-polkit
	depends = mate-screensaver
	depends = mate-sensors-applet
	depends = mate-session-manager
	depends = mate-settings-daemon
	depends = mate-user-guide
	depends = mate-user-share

pkgname = mate-apps-meta
	pkgdesc = MATE applications metapackage
	groups = city-meta
	depends = atril
	depends = caja-actions
	depends = caja-image-converter
	depends = caja-open-terminal
	depends = caja-sendto
	depends = caja-share
	depends = caja-wallpaper
	depends = engrampa
	depends = eom
	depends = mate-applet-dock
	depends = mate-applet-streamer
	depends = mate-backgrounds
	depends = mate-calc
	depends = mate-icon-theme
	depends = mate-icon-theme-faenza
	depends = mate-system-monitor
	depends = mate-terminal
	depends = mate-themes
	depends = mate-utils
	depends = mozo
	depends = pluma

pkgname = lxde-core-meta
	pkgdesc = LXDE core metapackage
	groups = city-meta
	depends = lxappearance-gtk3
	depends = lxappearance-obconf-gtk3
	depends = lxde-common
	depends = lxhotkey-gtk3
	depends = lxinput-gtk3
	depends = lxpanel-gtk3
	depends = lxrandr-gtk3
	depends = lxsession-gtk3
	depends = mate-power-manager
	depends = mate-screensaver
	depends = mate-media
	depends = mate-notification-daemon
	depends = openbox
	depends = pcmanfm-gtk3
	depends = xcompmgr

pkgname = lxde-apps-meta
	pkgdesc = LXDE applications metapackage
	groups = city-meta
	depends = galculator
	depends = gpicview-gtk3
	depends = l3afpad
	depends = lxde-icon-theme
	depends = lxdm-gtk3
	depends = lxlauncher-gtk3
	depends = lxmusic-gtk3
	depends = lxtask-gtk3
	depends = lxterminal-gtk3
	depends = midori
	depends = xarchiver

pkgname = lxqt-core-meta
	pkgdesc = LXQt core metapackage
	groups = city-meta
	depends = breeze-icons
	depends = lxqt-about
	depends = lxqt-admin
	depends = lxqt-config
	depends = lxqt-globalkeys
	depends = lxqt-notificationd
	depends = lxqt-openssh-askpass
	depends = lxqt-panel
	depends = lxqt-policykit
	depends = lxqt-powermanagement
	depends = lxqt-qtplugin
	depends = lxqt-runner
	depends = lxqt-session
	depends = lxqt-sudo
	depends = lxqt-themes
	depends = obconf-qt
	depends = openbox
	depends = pcmanfm-qt

pkgname = sugar-meta
	pkgdesc = Sugar metapackage
	groups = city-meta
	depends = sugar
	depends = sugar-activity-browse
	depends = sugar-activity-calculate
	depends = sugar-activity-chat
	depends = sugar-activity-clock
	depends = sugar-activity-imageviewer
	depends = sugar-activity-jukebox
	depends = sugar-activity-log
	depends = sugar-activity-paint
	depends = sugar-activity-pippy
	depends = sugar-activity-read
	depends = sugar-activity-terminal
	depends = sugar-activity-write

pkgname = web-browsers-meta
	pkgdesc = Web browsers metapackage
	groups = city-meta
	depends = firefox-i18n-hu
	depends = firefox-developer-edition-i18n-hu
	depends = seamonkey
	depends = chromium
	depends = eric
	depends = falkon
	depends = konqueror
	depends = otter-browser
	depends = min
	depends = eolie
	depends = epiphany
	depends = midori
	depends = dillo
	depends = links
	depends = netsurf

pkgname = download-managers-meta
	pkgdesc = Download managers metapackage
	groups = city-meta
	depends = clipgrab
	depends = youtube-viewer
	depends = gtk2-perl
	depends = perl-file-sharedir
	depends = gwget
	depends = kget
	depends = steadyflow
	depends = uget
	depends = cozy-desktop
	depends = nextcloud-client
	depends = owncloud-client
	depends = filezilla
	depends = gftp
	depends = deluge
	depends = fragments
	depends = ktorrent
	depends = qbittorrent
	depends = transmission-gtk
	depends = transmission-qt
	depends = transmission-remote-gtk
	depends = tribler

pkgname = email-clients-meta
	pkgdesc = Email clients metapackage
	groups = city-meta
	depends = balsa
	depends = claws-mail
	depends = evolution-rss
	depends = geary
	depends = gnubiff
	depends = kmail
	depends = kube
	depends = mailnag-goa-plugin
	depends = sylpheed
	depends = thunderbird-i18n-hu
	depends = trojita

pkgname = instant-messaging-clients-meta
	pkgdesc = Instant messaging clients metapackage
	groups = city-meta
	depends = empathy
	depends = kopete
	depends = pidgin-libnotify
	depends = yate
	depends = hexchat
	depends = konversation
	depends = polari
	depends = quassel-monolithic
	depends = gajim
	depends = psi
	depends = ring-kde
	depends = jami-gnome
	depends = fractal
	depends = riot-desktop
	depends = qtox
	depends = utox
	depends = caprine
	depends = esmska
	depends = mumble
	depends = telegram-desktop
	depends = wire-desktop

pkgname = news-readers-meta
	pkgdesc = News readers metapackage
	groups = city-meta
	depends = akregator
	depends = feedreader
	depends = liferea
	depends = quiterss
	depends = rssguard
	depends = gnome-podcasts
	depends = gpodder
	depends = vocal
	depends = pan
	depends = choqok

pkgname = remote-destkop-clients-meta
	pkgdesc = Remote desktop clients metapackage
	groups = city-meta
	depends = gnome-boxes
	depends = krdc
	depends = remmina
	depends = virt-viewer
	depends = tigervnc
	depends = vinagre
	depends = x2goclient

pkgname = image-viewers-meta
	pkgdesc = Image viewers metapackage
	groups = city-meta
	depends = eog
	depends = eom
	depends = geeqie
	depends = gpicview-gtk3
	depends = gwenview
	depends = fbida
	depends = lximage-qt
	depends = nomacs
	depends = ristretto
	depends = viewnior

pkgname = image-organizers-meta
	pkgdesc = Image organizers metapackage
	groups = city-meta
	depends = deepin-image-viewer
	depends = digikam
	depends = gnome-photos
	depends = gthumb
	depends = kphotoalbum
	depends = pantheon-photos
	depends = rapid-photo-downloader
	depends = shotwell
	depends = converseen

pkgname = raster-graphics-editors-meta
	pkgdesc = Raster graphics editors metapackage
	groups = city-meta
	depends = deepin-draw
	depends = drawing
	depends = gimp
	depends = kolourpaint
	depends = krita
	depends = mtpaint
	depends = mypaint
	depends = photoflare
	depends = pinta

pkgname = photo-editors-meta
	pkgdesc = Photo editors metapackage
	groups = city-meta
	depends = darktable
	depends = hugin
	depends = luminancehdr
	depends = gimp-nufraw
	depends = rawtherapee

pkgname = vector-graphics-editors-meta
	pkgdesc = Vector graphics editors, font editors and 3D computer graphics tools metapackage
	groups = city-meta
	depends = dia
	depends = inkscape
	depends = calligra
	depends = libreoffice-fresh
	depends = sk1
	depends = fontforge
	depends = blender
	depends = sweethome3d
	depends = wings3d

pkgname = color-pickers-meta
	pkgdesc = Color pickers metapackage
	groups = city-meta
	depends = deepin-picker
	depends = gcolor2
	depends = gcolor3
	depends = gpick
	depends = kcolorchooser
	depends = mate-desktop

pkgname = screenshot-meta
	pkgdesc = Screenshot tools metapackage
	groups = city-meta
	depends = deepin-screenshot
	depends = flameshot
	depends = gnome-screenshot
	depends = mate-utils
	depends = spectacle
	depends = xfce4-screenshooter

pkgname = audio-players-meta
	pkgdesc = Audio players metapackage
	groups = city-meta
	depends = clementine
	depends = gnome-music
	depends = lollypop
	depends = pantheon-music
	depends = pragha
	depends = quodlibet
	depends = rhythmbox
	depends = strawberry
	depends = juk
	depends = babe
	depends = deepin-music
	depends = elisa
	depends = audacious
	depends = deadbeef
	depends = gogglesmm
	depends = lxmusic-gtk3
	depends = qmmp
	depends = osdlyrics

pkgname = mpd-clients-meta
	pkgdesc = MPD clients metapackage
	groups = city-meta
	depends = ario
	depends = cantata
	depends = pympd
	depends = qmpdclient
	depends = sonata
	depends = xfmpc

pkgname = audio-tag-editors-meta
	pkgdesc = Audio tag editors metapackage
	groups = city-meta
	depends = easytag
	depends = kid3
	depends = mp3info
	depends = picard

pkgname = audio-editors-meta
	pkgdesc = Audio converters, editors and analyzers metapackage
	groups = city-meta
	depends = gnac
	depends = soundconverter
	depends = soundkonverter
	depends = audacity
	depends = deepin-voice-recorder
	depends = gnome-sound-recorder
	depends = kwave
	depends = mp3splt-gtk
	depends = sweep
	depends = sonic-visualiser

pkgname = audio-workstations-meta
	pkgdesc = Audio workstations metapackage
	groups = city-meta
	depends = ardour
	depends = lmms
	depends = non-mixer
	depends = non-sequencer
	depends = non-session-manager
	depends = non-timeline
	depends = qtractor
	depends = rosegarden

pkgname = scorewriters-meta
	pkgdesc = Scorewriters and audio synthesis environments metapackage
	groups = city-meta
	depends = canorus
	depends = musescore
	depends = csoundqt
	depends = pd
	depends = supercollider

pkgname = synthesizers-meta
	pkgdesc = Synthesizers metapackage
	groups = city-meta
	depends = ams
	depends = amsynth
	depends = din
	depends = drumstick
	depends = gigedit
	depends = helm
	depends = hydrogen
	depends = jsampler
	depends = qmidiarp
	depends = qmidiroute
	depends = qsampler
	depends = qsynth
	depends = drumkv1
	depends = padthv1
	depends = samplv1
	depends = synthv1
	depends = vmpk
	depends = yoshimi
	depends = zynaddsubfx

pkgname = music-trackers-meta
	pkgdesc = Music trackers, DJ tools, audio effects and visualizers metapackage
	groups = city-meta
	depends = milkytracker
	depends = giada
	depends = luppp
	depends = mixxx
	depends = calf
	depends = carla
	depends = guitarix2
	depends = projectm-pulseaudio

pkgname = volume-controls-meta
	pkgdesc = Volume controls metapackage
	groups = city-meta
	depends = mate-media
	depends = qastools
	depends = volumeicon
	depends = volwheel
	depends = paprefs
	depends = pavucontrol
	depends = pavucontrol-qt

pkgname = video-players-meta
	pkgdesc = Video players metapackage
	groups = city-meta
	depends = totem
	depends = pantheon-videos
	depends = parole
	depends = snappy-player
	depends = xnoise
	depends = baka-mplayer
	depends = deepin-movie
	depends = gnome-mpv
	depends = mpv
	depends = smplayer
	depends = gnome-mplayer
	depends = kmplayer
	depends = dragon
	depends = kaffeine
	depends = kodi
	depends = minitube
	depends = qtav
	depends = tvtime
	depends = vlc
	depends = xine-ui

pkgname = video-editors-meta
	pkgdesc = Video converters and editors metapackage
	groups = city-meta
	depends = ciano
	depends = handbrake
	depends = transmageddon
	depends = mkvtoolnix-gui
	depends = avidemux-qt
	depends = blender
	depends = kdenlive
	depends = openshot
	depends = pitivi
	depends = shotcut

pkgname = subtitle-meta
	pkgdesc = Subtitle editors metapackage
	groups = city-meta
	depends = subdownloader
	depends = aegisub
	depends = gaupol
	depends = gnome-subtitles
	depends = subtitleeditor

pkgname = screencast-meta
	pkgdesc = Screencast tools metapackage
	groups = city-meta
	depends = deepin-screen-recorder
	depends = obs-studio
	depends = peek
	depends = gtk-recordmydesktop
	depends = simplescreenrecorder

pkgname = webcam-meta
	pkgdesc = Webcam tools metapackage
	groups = city-meta
	depends = cheese
	depends = guvcview
	depends = kamoso
	depends = v4l-utils

pkgname = metadata-meta
	pkgdesc = Collection managers, media servers and metadata tools metapackage
	groups = city-meta
	depends = mediaelch
	depends = tellico
	depends = rygel
	depends = mediainfo-gui

pkgname = mobile-device-managers-meta
	pkgdesc = Mobile device managers metapackage
	groups = city-meta
	depends = android-file-transfer
	depends = gnokii
	depends = gmtp
	depends = gnome-phone-manager
	depends = modem-manager-gui
	depends = wammu

pkgname = optical-disk-rippers-meta
	pkgdesc = Optical disc ripping tools metapackage
	groups = city-meta
	depends = asunder
	depends = audex
	depends = goobox
	depends = kaudiocreator
	depends = sound-juicer
	depends = ogmrip

pkgname = optical-disk-burners-meta
	pkgdesc = Optical disc authoring and burning tools metapackage
	groups = city-meta
	depends = devede
	depends = acetoneiso2
	depends = brasero
	depends = k3b
	depends = xfburn

pkgname = text-editors-meta
	pkgdesc = Text editors metapackage
	groups = city-meta
	depends = fox
	depends = atom
	depends = beaver
	depends = deepin-editor
	depends = gedit
	depends = gobby
	depends = jedit
	depends = kate
	depends = kwrite
	depends = l3afpad
	depends = leafpad
	depends = liri-text
	depends = mousepad
	depends = nedit
	depends = nfoview
	depends = notepadqq
	depends = pantheon-code
	depends = pluma
	depends = code
	depends = xed

pkgname = office-meta
	pkgdesc = Office suites metapackage
	groups = city-meta
	depends = calligra
	depends = libreoffice-fresh
	depends = abiword
	depends = bluegriffon
	depends = glabels
	depends = kompozer
	depends = scribus
	depends = seamonkey
	depends = gnumeric

pkgname = database-tools-meta
	pkgdesc = Database managers metapackage
	groups = city-meta
	depends = dbeaver
	depends = libgda
	depends = kexi
	depends = mysql-workbench
	depends = pgadmin4
	depends = sqlitebrowser
	depends = glom

pkgname = markup-editors-meta
	pkgdesc = Markup editors and bibliographic reference managers metapackage
	groups = city-meta
	depends = retext
	depends = gnome-latex
	depends = gummi
	depends = kile
	depends = ktikz
	depends = lyx
	depends = texmacs
	depends = texmaker
	depends = texstudio
	depends = libreoffice-extension-texmaths
	depends = kbibtex

pkgname = ebook-readers-meta
	pkgdesc = E-book readers metapackage
	groups = city-meta
	depends = bookworm
	depends = calibre
	depends = fbreader
	depends = gnome-documents
	depends = sigil
	depends = kchmviewer
	depends = xchm

pkgname = document-readers-meta
	pkgdesc = Document readers metapackage
	groups = city-meta
	depends = atril
	depends = djview
	depends = epdfview
	depends = evince
	depends = gv
	depends = okular
	depends = qpdfview
	depends = xpdf
	depends = xreader
	depends = pdfarranger
	depends = pdfarranger
	depends = pdfmod
	depends = pdfsam
	depends = pdftricks
	depends = buoh
	depends = mcomix

pkgname = scanning-meta
	pkgdesc = Scanning and OCR metapackage
	groups = city-meta
	depends = simple-scan
	depends = skanlite
	depends = xsane
	depends = gimagereader-gtk
	depends = gscan2pdf
	depends = ocrfeeder
	depends = paperwork
	depends = scantailor

pkgname = notes-meta
	pkgdesc = Note taking and mind mapping tools metapackage
	groups = city-meta
	depends = basket
	depends = gnome-notes
	depends = gnote
	depends = kjots
	depends = zanshin
	depends = tuxcards
	depends = wiznote
	depends = zim
	depends = xournalpp
	depends = almanah
	depends = freemind
	depends = vym
	depends = knotes
	depends = xfce4-notes-plugin
	depends = xpad

pkgname = dictionaries-meta
	pkgdesc = Dictionaries metapackage
	groups = city-meta
	depends = gnome-dictionary
	depends = goldendict
	depends = kiten
	depends = mate-utils
	depends = qstardict
	depends = stardict
	depends = xfce4-dict

pkgname = translation-meta
	pkgdesc = Translation and localization tools metapackage
	groups = city-meta
	depends = gtranslator
	depends = lokalize
	depends = poedit
	depends = qt5-tools
	depends = qreator
	depends = zint-qt

