pkgbase = city-meta
	pkgdesc = Metapackages for Arch Linux
	pkgver = 1
	pkgrel = 8
	url = http://pkgbuild.com/~bgyorgy/city.html
	arch = any
	license = GPL

pkgname = base-meta
	pkgdesc = Base metapackage
	groups = city-meta
	depends = bash
	depends = bzip2
	depends = coreutils
	depends = cryptsetup
	depends = device-mapper
	depends = dhcpcd
	depends = diffutils
	depends = e2fsprogs
	depends = file
	depends = filesystem
	depends = findutils
	depends = gawk
	depends = gcc-libs
	depends = gettext
	depends = glibc
	depends = grep
	depends = gzip
	depends = inetutils
	depends = iproute2
	depends = iputils
	depends = jfsutils
	depends = less
	depends = licenses
	depends = linux
	depends = logrotate
	depends = lvm2
	depends = man-db
	depends = man-pages
	depends = mdadm
	depends = nano
	depends = netctl
	depends = pacman
	depends = pciutils
	depends = pcmciautils
	depends = perl
	depends = procps-ng
	depends = psmisc
	depends = reiserfsprogs
	depends = s-nail
	depends = sed
	depends = shadow
	depends = sysfsutils
	depends = systemd-sysvcompat
	depends = tar
	depends = texinfo
	depends = usbutils
	depends = util-linux
	depends = vi
	depends = which
	depends = xfsprogs

pkgname = base-devel-meta
	pkgdesc = Base development metapackage
	groups = city-meta
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkg-config
	depends = sed
	depends = sudo
	depends = texinfo
	depends = util-linux
	depends = which

pkgname = base-services-meta
	pkgdesc = Base services metapackage
	groups = city-meta
	depends = alsa-tools
	depends = alsa-utils
	depends = avahi
	depends = bluez
	depends = cups
	depends = dosfstools
	depends = gdb
	depends = gpsd
	depends = grub
	depends = intel-ucode
	depends = lm_sensors
	depends = mesa-demos
	depends = modemmanager
	depends = networkmanager
	depends = nfs-utils
	depends = nss-mdns
	depends = ntfs-3g
	depends = openssh
	depends = os-prober
	depends = pkgstats
	depends = pulseaudio-alsa
	depends = smartmontools
	depends = sudo
	depends = tigervnc
	depends = usb_modeswitch
	depends = xorg-server

pkgname = base-data-meta
	pkgdesc = Base codecs and data metapackage
	groups = city-meta
	depends = aspell-en
	depends = aspell-hu
	depends = gst-libav
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = hunspell-en
	depends = hunspell-hu
	depends = hyphen-en
	depends = hyphen-hu
	depends = mythes-en
	depends = mythes-hu
	depends = purple-facebook
	depends = purple-skypeweb
	depends = soundfont-fluid
	depends = telepathy-gabble
	depends = telepathy-haze
	depends = telepathy-idle
	depends = telepathy-rakia
	depends = telepathy-salut
	depends = ttf-dejavu
	depends = ttf-freefont
	depends = ttf-liberation
	depends = ttf-symbola

pkgname = gnome-core-shell-meta
	pkgdesc = GNOME core shell metapackage
	groups = city-meta
	depends = gdm
	depends = glib2-docs
	depends = gnome-backgrounds
	depends = gnome-color-manager
	depends = gnome-control-center
	depends = gnome-getting-started-docs
	depends = gnome-keyring
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gnome-shell
	depends = gnome-shell-extensions
	depends = gnome-themes-standard
	depends = gnome-user-docs
	depends = gnome-user-share
	depends = gvfs
	depends = gvfs-afc
	depends = gvfs-goa
	depends = gvfs-google
	depends = gvfs-gphoto2
	depends = gvfs-mtp
	depends = gvfs-nfs
	depends = gvfs-smb
	depends = mousetweaks
	depends = mutter
	depends = nautilus
	depends = network-manager-applet
	depends = orca
	depends = rygel
	depends = tracker
	depends = vino
	depends = xdg-user-dirs-gtk

pkgname = gnome-core-utilities-meta
	pkgdesc = GNOME core utilities metapackage
	groups = city-meta
	depends = baobab
	depends = cheese
	depends = eog
	depends = epiphany
	depends = evince
	depends = file-roller
	depends = gedit
	depends = gnome-boxes
	depends = gnome-calculator
	depends = gnome-calendar
	depends = gnome-characters
	depends = gnome-clocks
	depends = gnome-contacts
	depends = gnome-disk-utility
	depends = gnome-documents
	depends = gnome-font-viewer
	depends = gnome-logs
	depends = gnome-maps
	depends = gnome-music
	depends = gnome-photos
	depends = gnome-screenshot
	depends = gnome-software
	depends = gnome-system-monitor
	depends = gnome-terminal
	depends = gnome-todo
	depends = gnome-video-effects
	depends = gnome-weather
	depends = grilo-plugins
	depends = simple-scan
	depends = sushi
	depends = totem
	depends = yelp

pkgname = gnome-apps-meta
	pkgdesc = GNOME applications metapackage
	groups = city-meta
	depends = accerciser
	depends = dconf-editor
	depends = devhelp
	depends = evolution
	depends = ghex
	depends = gitg
	depends = glade
	depends = gnome-builder
	depends = gnome-code-assistance
	depends = gnome-devel-docs
	depends = gnome-dictionary
	depends = gnome-multi-writer
	depends = gnome-nettool
	depends = gnome-recipes
	depends = gnome-sound-recorder
	depends = gnome-tweak-tool
	depends = nautilus-sendto
	depends = polari
	depends = seahorse
	depends = sysprof

pkgname = gnome-games-meta
	pkgdesc = GNOME games metapackage
	groups = city-meta
	depends = five-or-more
	depends = four-in-a-row
	depends = gnome-chess
	depends = gnome-klotski
	depends = gnome-mahjongg
	depends = gnome-mines
	depends = gnome-nibbles
	depends = gnome-robots
	depends = gnome-sudoku
	depends = gnome-taquin
	depends = gnome-tetravex
	depends = gnuchess
	depends = hitori
	depends = iagno
	depends = lightsoff
	depends = quadrapassel
	depends = swell-foop
	depends = tali

pkgname = gnome-flashback-meta
	pkgdesc = GNOME Flashback, Budgie and Cinnamon metapackage
	groups = city-meta
	depends = blueberry
	depends = budgie-desktop
	depends = cinnamon
	depends = gnome-applets
	depends = gnome-flashback
	depends = gnome-panel
	depends = gnome-screensaver
	depends = lightdm-gtk-greeter
	depends = metacity
	depends = sensors-applet
	depends = system-config-printer

pkgname = gnome-world-meta
	pkgdesc = GNOME world metapackage
	groups = city-meta
	depends = abiword-small
	depends = aisleriot
	depends = alacarte
	depends = almanah
	depends = anjuta
	depends = anjuta-extras
	depends = atomix
	depends = balsa
	depends = bijiben
	depends = brasero
	depends = buoh
	depends = deja-dup
	depends = d-feet
	depends = easytag
	depends = empathy-fixed
	depends = eog-plugins
	depends = evolution-ews
	depends = evolution-rss
	depends = filemanager-actions
	depends = gbrainy
	depends = gconf-editor
	depends = geary
	depends = gedit-code-assistance
	depends = gedit-plugins
	depends = giggle
	depends = glabels
	depends = glom
	depends = gnac
	depends = gnome-2048
	depends = gnome-break-timer
	depends = gnome-games
	depends = gnome-packagekit
	depends = gnome-phone-manager
	depends = gnome-power-manager
	depends = gnome-search-tool
	depends = gnome-system-log
	depends = gnote
	depends = gnumeric
	depends = goobox
	depends = gthumb
	depends = gtranslator
	depends = gucharmap
	depends = gwget
	depends = latexila
	depends = liferea-fixed
	depends = lollypop
	depends = meld
	depends = nemiver
	depends = networkmanager-openconnect
	depends = networkmanager-openvpn
	depends = networkmanager-pptp
	depends = networkmanager-vpnc
	depends = ocrfeeder
	depends = pitivi
	depends = python-matplotlib-small
	depends = regexxer
	depends = rhythmbox
	depends = seahorse-nautilus
	depends = shotwell
	depends = snappy-player
	depends = sound-juicer
	depends = transmageddon
	depends = transmission-gtk
	depends = vinagre

pkgname = mate-core-meta
	pkgdesc = MATE core metapackage
	groups = city-meta
	depends = caja
	depends = marco
	depends = mate-applets
	depends = mate-control-center
	depends = mate-desktop
	depends = mate-media
	depends = mate-netbook
	depends = mate-notification-daemon
	depends = mate-panel
	depends = mate-power-manager
	depends = mate-polkit
	depends = mate-screensaver
	depends = mate-sensors-applet
	depends = mate-session-manager
	depends = mate-settings-daemon
	depends = mate-user-guide
	depends = mate-user-share

pkgname = mate-apps-meta
	pkgdesc = MATE applications metapackage
	groups = city-meta
	depends = atril
	depends = caja-actions
	depends = caja-image-converter
	depends = caja-open-terminal
	depends = caja-sendto
	depends = caja-share
	depends = caja-wallpaper
	depends = engrampa
	depends = eom
	depends = mate-applet-dock
	depends = mate-applet-streamer
	depends = mate-backgrounds
	depends = mate-calc
	depends = mate-icon-theme
	depends = mate-icon-theme-faenza
	depends = mate-menu
	depends = mate-system-monitor
	depends = mate-terminal
	depends = mate-themes
	depends = mate-utils
	depends = mozo
	depends = pluma

pkgname = lxde-core-meta
	pkgdesc = LXDE core metapackage
	groups = city-meta
	depends = lxappearance-gtk3
	depends = lxappearance-obconf-gtk3
	depends = lxde-common
	depends = lxhotkey-gtk3
	depends = lxinput-gtk3
	depends = lxpanel-gtk3
	depends = lxrandr-gtk3
	depends = lxsession-gtk3
	depends = mate-power-manager
	depends = mate-screensaver
	depends = mate-media
	depends = mate-notification-daemon
	depends = openbox
	depends = pcmanfm-gtk3
	depends = xcompmgr

pkgname = lxde-apps-meta
	pkgdesc = LXDE applications metapackage
	groups = city-meta
	depends = galculator
	depends = gpicview-gtk3
	depends = l3afpad
	depends = lxde-icon-theme
	depends = lxdm-gtk3
	depends = lxlauncher-gtk3
	depends = lxmusic-gtk3
	depends = lxtask-gtk3
	depends = lxterminal-gtk3
	depends = midori
	depends = xarchiver

pkgname = lxqt-core-meta
	pkgdesc = LXQt core metapackage
	groups = city-meta
	depends = breeze-icons
	depends = lxqt-about
	depends = lxqt-admin
	depends = lxqt-common
	depends = lxqt-config
	depends = lxqt-globalkeys
	depends = lxqt-notificationd
	depends = lxqt-openssh-askpass
	depends = lxqt-panel
	depends = lxqt-policykit
	depends = lxqt-powermanagement
	depends = lxqt-qtplugin
	depends = lxqt-runner
	depends = lxqt-session
	depends = lxqt-sudo
	depends = obconf-qt
	depends = openbox
	depends = pcmanfm-qt

pkgname = sugar-meta
	pkgdesc = Sugar metapackage
	groups = city-meta
	depends = sugar
	depends = sugar-activity-browse
	depends = sugar-activity-calculate
	depends = sugar-activity-chat
	depends = sugar-activity-clock
	depends = sugar-activity-imageviewer
	depends = sugar-activity-jukebox
	depends = sugar-activity-log
	depends = sugar-activity-paint
	depends = sugar-activity-pippy
	depends = sugar-activity-terminal
	depends = sugar-activity-write

